$BgHeader : #002e47;
$BgMiddleBoard: linear-gradient(192deg, #E0E4F0, #E0E4F9 72%);
$BgLeftSideBar:#6b7c93;
$BgRightSideBar:rgba(246,249,252,1);
$BGLeftCard:#2C3242;
$BgFooter:#002e47;
$BGFooterTextColor:#b3b3b3;

$modalLabelColor:#111111;
$inputFocusBorder:#007bff;
$secondaryButtonColor:#111111;
$secondaryButtonBG:#E7E7E7;
$buttonBG:#ff8500;
$mainBtnTextColor:#ffffff;
$lightGreyColor:#575757;
$redColor:red;
$searchIconColor:#000;
$whiteColor:#ffffff;
$primaryColor:#002e47;
$secondaryColor:#ff8500;
// Input Style
$inputBorderColor:#dad8de;
$inputFocusBorderColor:#ff8500;
$inputFocusTextColor:rgba(44, 50, 66, 1);
$inputFieldColor:rgba(44,50,66,.80);
$touchSpinBtnColor:rgba(44,50,66,.65);
$placholderTextColor:rgba(44, 50, 66, 0.35);
$listShowsPlacholderTextColor:#ffffff;
$inputTextColor:#3f3f3f;

// Blog Style
$blogBG:#6b7c93;

// Tag style
$reactTagsBG:rgba(214, 213, 213, 0.2);
$reactTagsTextColor:rgba(44,50,66,.32);

// Time Picker Style
$timePickerActiveBG:rgba(44, 50, 66, 1);

// Title,Tag & Description Style
$tubeInTitleFontColor:rgba(44, 50, 66, 0.85);
$tubeInTagChannelNameFontColor:rgba(44, 50, 66, 0.45);
$tubeInDescriptionFontColor:rgba(44, 50, 66, 0.85);

// Custom Alert style
$cutomAlertTextColor:rgba(0,0,0,1);

// Nav Link Style
$NavLinksTextColor:#a9b3c7;
$NavLinksTextColorOnHover:#ffffff;

// Header Right bar when user signed in
$userProfileBG:#6b7c93;
$userProfileStatsIndicatorActiveBG:#5BD64E;
$userNotificationIndicatorBG:#F5201D;
$NavUserNameTextColor:rgba(44,50,66,1);
$userProfileDropDownBG:#6b7c93;
$userProfileDropDownLinkColor:#2C3242;
$userProfileDropDownIconColor:rgba(44,50,66,.7);
$userProfileDropDownLineBorder:rgba(44,50,66,.2);
$userProfileDropDownHoverLinkBG:rgba(44,50,66,.5);


// Upload Card
$fileBrowserBorderColor:#000;
$fileIconColor:rgba(44,50,66,.75);
$fileIconColorActive:rgba(44,50,66,1);
// camera man user list
$tubeinEmailBorderBottomColor:#E7E7E7;
$tubeinUserImageBG:#EEECEC;

// Poll Question
$tubeinPollInputBG:#EEECEC;
$tubeinPollOptionTextColor:rgba(44, 50, 66, 0.35);
$tubeinPollOptionTextFocusColor:rgba(44, 50, 66, 0.75);
$tubeinPollOptionAddIconColor:#212529;


// card with no data info
$subscriptionTextColor:rgba(44,50,66,1);
$subscriptionCardBG:#ffffff;





$primaryBackgroundColor:black;
$primaryDarkBackgroundColor:black;



// Calendar style
$activeDateBG:rgba(44,50,66,.98);

// Custom Dropdown Style
$mytubeinDateInputBorderColor:#dad8de;
$mytubeinDateInputFocusBorderColor:rgba(44,50,66,.95);
$mytubeinDateInputTextColor:rgba(44,50,66,.85);

$customDropdownBG:transparent;
$customDropdownMenuBG:#ffffff;
$customDropdownTextColor:rgba(44,50,66,.85);
$customDropdownBorderColor:#dad8de;
$customDropdownMenuBorderColor:rgba(44,50,66,.6);
$customDropdownMenuHoverColor:rgba(44,50,66,.25);
$customDropdownBorderColorHover:rgba(44,50,66,.85);
$customDropdownShadow:rgba(182,182,182,.7);
