@import 'commonStyle';
$pad10:10px;
$pad25:25px;
.contact-wrapper{
    padding:60px 0 135px;
}
.contact-row{
    .form-wrapper{
        padding-right:80px;
    }
    .form-group{
        margin-bottom:35px;
    }
    input,textarea{
        width:100%;
        border-width:0 0 1px 0;
        border-color:#c3c3c3;
    }
    textarea{
        resize:vertical;
    }
}