@import 'commonStyle';
$pad10:10px;
$pad25:25px;
footer{
  width: 100%;
  background-color: $BgFooter;
  padding:20px 0;
  position:relative;
  font-family: $fontFamily;
  .contact-details{
    font-family:inherit;
    color:$BGFooterTextColor;
    font-size:$NavLinksFontSize;
    font-weight: $fontMedium;
    margin-bottom:0;
    text-align:left;
  }
}
