@import '_commonStyle';
$pad10:10px;
$pad25:25px;
footer{
  width: 100%;
  background-color: $BgFooter;
  padding:10px 0;
  position:relative;
  font-family: $fontFamily;
  .contact-details{
    font-family:inherit;
    color:$BGFooterTextColor;
    font-size:$NavLinksFontSize;
    font-weight: $fontMedium;
    margin-bottom:0;
    text-align:left;
  }
  .social-icon{
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:50%;
    font-size:16px;
    color:$whiteColor;
    cursor: pointer;
    text-align: center;
    line-height:30px;
    margin-right:10px;
    &.fb-icon{
      background:#2d609b;
      border:1px solid #2d609b;
    }
    &.twt-icon{
      background:#22bbf4;
      border:1px solid #22bbf4;
    }
    &.insta-icon{
      background:#d328a0;
      border:1px solid #d328a0;
    }
  }
}
