@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
.width-100 {
  max-width: 100%; }

.ml-auto {
  margin-left: auto; }

button {
  cursor: pointer; }

.cursor-pointer {
  cursor: pointer; }

.underline-none:hover, .underline-none {
  text-decoration: none;
  outline: none; }

button:hover, button:focus, input:hover, input:focus, video:hover, video:focus, textarea:hover, textarea:focus {
  outline: none; }

video {
  width: 100%;
  height: 100%; }

.show {
  display: block !important; }

.main-btn, .main-btn-sm, .button-primary, .button-secondary {
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0 15px;
  border-radius: 3px;
  display: inline-block;
  border-width: 0px;
  background: #ff8500;
  color: #ffffff;
  transition: all .15s ease;
  cursor: pointer;
  text-decoration: none;
  height: 35px; }

.button-secondary {
  background-color: #E7E7E7;
  color: #111111; }

.main-btn-sm {
  padding: 0px 0px;
  height: 30px;
  font-size: 12px; }

.pt-0 {
  padding-top: 0 !important; }

.p-0 {
  padding: 0 !important; }

.height-100 {
  height: 100vh !important; }

.h-100 {
  height: 100%; }

.mt-5 {
  margin-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-20 {
  margin-bottom: 20px; }

.mb-0 {
  margin-bottom: 0 !important; }

.pt-10 {
  padding-top: 10px !important; }

.ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.mt-auto {
  margin-top: auto !important; }

.min-width-0 {
  min-width: 0; }

.pos-rel {
  position: relative; }

.main-btn:hover, .main-btn-sm:hover, .main-btn-sm:hover {
  transform: translateY(-2px) !important;
  -webkit-transform: translateY(-2px) !important;
  -ms-transform: translateY(-2px) !important; }

.pad-0 {
  padding: 0 !important; }

.hide {
  display: none; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.float-left {
  float: left !important; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.mt-auto {
  margin-top: auto; }

.gap-top-20 {
  padding-top: 20px; }

.flex-1 {
  flex: 1; }

.flex-0 {
  flex: 0 !important; }

.flex-label-1 {
  flex: 1 !important; }

.flex-100 {
  flex: 0 0 100% !important; }

.flex-50 {
  flex: 0 0 50% !important; }

.btn-medium {
  width: 130px; }

.btn-notify {
  width: 100px;
  height: 30px; }

.btn-small {
  width: 90px; }

.error-limit, .error {
  color: red !important; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(44, 50, 66, 0.35);
  opacity: 1; }

input::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(44, 50, 66, 0.35);
  opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(44, 50, 66, 0.35);
  opacity: 1; }

input:-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 18- */
  color: rgba(44, 50, 66, 0.35);
  opacity: 1; }

.resize-none {
  resize: none; }

.border-input {
  height: 35px;
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #dad8de;
  font-size: 13px;
  border-radius: 0;
  color: rgba(44, 50, 66, 0.35);
  padding: 0 8px; }
  .border-input:focus {
    color: rgba(44, 50, 66, 0.75); }

.border-input ~ .focus-border {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 2px;
  z-index: 99;
  background-color: #ff8500;
  transition: 0.4s; }

.border-input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0; }

.form-group {
  position: relative; }

.form-control {
  border-color: #575757; }
  .form-control:focus {
    border-color: #007bff !important;
    box-shadow: none !important; }

.page-heading {
  color: #002e47;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 60px; }

.modal-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #002e47;
  cursor: pointer;
  font-weight: 500; }

.password-visibility {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px; }

label {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #111111; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-moz-keyframes heartbit {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0; }
  25% {
    -moz-transform: scale(0.1);
    opacity: 0.1; }
  50% {
    -moz-transform: scale(0.5);
    opacity: 0.3; }
  75% {
    -moz-transform: scale(0.8);
    opacity: 0.5; }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0; } }

@-webkit-keyframes heartbit {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0.1);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.8);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 2px 0px rgba(173, 0, 0, 0.45); }
  65% {
    box-shadow: 0px 0px 2px 4px rgba(173, 0, 0, 0.45); }
  90% {
    box-shadow: 0px 0px 2px 7px rgba(173, 0, 0, 0); } }

.header-wrapper {
  width: 100%;
  height: 60px;
  background-color: #002e47;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  position: relative;
  font-family: "Montserrat", sans-serif; }
  .header-wrapper .logo-wrap {
    max-width: 80px;
    display: inline-block; }
  .header-wrapper .left-links {
    padding-right: 20px; }
    .header-wrapper .left-links .nav-links {
      color: #a9b3c7;
      font-size: 12px;
      padding-left: 30px;
      font-weight: 500;
      font-family: inherit; }
      .header-wrapper .left-links .nav-links:hover, .header-wrapper .left-links .nav-links:focus {
        color: #ffffff; }
  .header-wrapper .dropdown-card {
    background: #6b7c93;
    width: 249px;
    padding: 10px 0 10px;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 100%;
    display: none; }
    .header-wrapper .dropdown-card .user-name {
      display: inline-block;
      color: #2c3242;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      line-height: 1; }
    .header-wrapper .dropdown-card ul {
      padding: 0;
      margin: 0; }
      .header-wrapper .dropdown-card ul li {
        list-style: none;
        padding: 15px 30px 15px 30px;
        line-height: 1;
        position: relative; }
        .header-wrapper .dropdown-card ul li.first-child {
          padding-top: 0; }
        .header-wrapper .dropdown-card ul li.dropdown-link:hover {
          background: rgba(44, 50, 66, 0.5); }
        .header-wrapper .dropdown-card ul li.border-list {
          border-color: rgba(44, 50, 66, 0.2);
          border-width: 0.5px 0 0.5px 0;
          border-style: solid;
          margin-bottom: 25px; }
        .header-wrapper .dropdown-card ul li.border-list-bottom.list-gap-btm {
          margin-bottom: 10px;
          padding: 0; }
        .header-wrapper .dropdown-card ul li.border-list-bottom.list-gap-top {
          margin-bottom: 10px;
          padding: 0;
          height: 11px; }
        .header-wrapper .dropdown-card ul li.border-list-bottom:after {
          border-style: solid;
          border-color: rgba(44, 50, 66, 0.2);
          border-width: 0 0 0.8px 0;
          position: absolute;
          bottom: 0;
          content: '';
          width: 80%;
          left: 50%;
          transform: translateX(-50%); }
        .header-wrapper .dropdown-card ul li:first-child {
          padding-bottom: 0;
          margin-bottom: 8px; }
      .header-wrapper .dropdown-card ul a, .header-wrapper .dropdown-card ul a:hover, .header-wrapper .dropdown-card ul a:focus {
        text-decoration: none;
        width: 100%;
        display: inline-block;
        outline: none; }
      .header-wrapper .dropdown-card ul .left-icon {
        width: 20%;
        display: inline-block; }
      .header-wrapper .dropdown-card ul .profile-icon {
        color: rgba(44, 50, 66, 0.7);
        font-size: 18px; }
      .header-wrapper .dropdown-card ul .link-text {
        font-size: 16px;
        color: #2C3242; }
      .header-wrapper .dropdown-card ul .status-text {
        font-size: 14px;
        color: rgba(44, 50, 66, 0.7);
        margin-left: -22px; }
      .header-wrapper .dropdown-card ul .status-icon {
        display: inline-block;
        margin-bottom: 2px;
        font-size: 9px;
        color: #5BD64E; }
  .header-wrapper .dropdown-transition {
    top: 100%; }
  .header-wrapper .user-profile-wrapper .notification-wrapper {
    display: inline-block;
    width: 25px;
    height: 30px;
    font-size: 27px;
    color: #a9b3c7;
    position: relative;
    margin: 0 20px 0 10px; }
    .header-wrapper .user-profile-wrapper .notification-wrapper .bell-icon {
      vertical-align: baseline; }
  .header-wrapper .user-profile-wrapper .notification-indicator {
    background: #F5201D;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #F5201D;
    position: absolute;
    top: 3px;
    right: 1px; }
  .header-wrapper .user-profile-wrapper button, .header-wrapper .user-profile-wrapper button:hover, .header-wrapper .user-profile-wrapper button:focus {
    background: transparent;
    outline: none;
    border: none;
    padding: 0; }
  .header-wrapper .user-profile-wrapper .user-name-span {
    color: #2c3242;
    font-size: 12px;
    padding-left: 10px;
    font-weight: 400;
    font-family: inherit;
    flex: 1; }
  .header-wrapper .user-profile-wrapper .user-profile-img {
    width: 32px;
    height: 32px;
    background: #6b7c93;
    border-radius: 50%;
    border: 1px solid #6b7c93;
    position: relative;
    margin: 0; }
    .header-wrapper .user-profile-wrapper .user-profile-img img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .header-wrapper .user-profile-wrapper .user-profile-img .user-status-indicator {
      background: #5BD64E;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid #5BD64E;
      position: absolute;
      right: -2px;
      top: 3px;
      z-index: 1; }
  .header-wrapper .rightBar {
    flex: 1; }
  .header-wrapper .search-input-wrap {
    max-width: 400px;
    z-index: 10;
    position: relative;
    margin: 0 10px;
    width: 100%; }
    .header-wrapper .search-input-wrap .icon-wrap {
      position: absolute;
      width: 30px;
      height: 100%;
      top: 0;
      left: 0;
      color: #000;
      padding: 4px 7px; }
    .header-wrapper .search-input-wrap input {
      width: 100%;
      border: none;
      border-radius: 2px;
      padding: 6px 5px 6px 30px;
      font-size: 12px;
      font-weight: 400;
      color: #3f3f3f; }
      .header-wrapper .search-input-wrap input:focus {
        border-color: #007bff;
        box-shadow: 0 0 6px -2px #007bff; }
  .header-wrapper .user-login-signup-wrapper button {
    width: 67px; }
    .header-wrapper .user-login-signup-wrapper button:first-child {
      margin-right: 10px; }
